APP_NAME="Notification Service"
APP_ENV=local
APP_KEY=
APP_DEBUG=true
APP_URL=http://localhost

LOG_CHANNEL=stderr
LOG_LEVEL=debug

DB_CONNECTION=pgsql
DB_HOST=postgres
DB_PORT=5432
DB_DATABASE=notifications
DB_USERNAME=notifications
DB_PASSWORD=secret

CACHE_STORE=redis

REDIS_CLIENT=phpredis
REDIS_HOST=redis
REDIS_PASSWORD=null
REDIS_PORT=6379

KAFKA_BROKERS=kafka:19092
KAFKA_CONSUMER_GROUP_ID=notification-service
KAFKA_AUTO_COMMIT=true
KAFKA_TOPIC_TRANSACTIONAL=notifications.transactional
KAFKA_TOPIC_MARKETING=notifications.marketing
KAFKA_FAKE=false
NOTIFICATION_MAX_ATTEMPTS=3
